.training-plan-page {
    text-align: center;
    padding: 2rem;
  }

.training-plan-add-btn {
  background-color: transparent; /* remove the color */
  background-image: url('../assets/Add.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;

  position: absolute;
  left: 24px;
  top: 10%;

  /* remove text-related styles */
  color: unset;
  font-size: unset;
  text-align: unset;
}


.training-plan-edit-btn {
  background-color: transparent; /* remove the color */
  background-image: url('../assets/Edit.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;

  position: absolute;
  left: 84px;
  top: 10%;

  /* remove text-related styles */
  color: unset;
  font-size: unset;
  text-align: unset;
}

.training-plan-delete-btn {
  background-color: transparent; /* remove the color */
  background-image: url('../assets/Remove.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;

  position: absolute;
  left: 144px;
  top: 10%;

  /* remove text-related styles */
  color: unset;
  font-size: unset;
  text-align: unset;
}