.training-plan-page {
    text-align: center;
    padding: 2rem;
  }

.training-plan-add-btn {
  background-color: #067e52b9;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  left: 24px;
  position: absolute;
  top: 10%;
}

.training-plan-edit-btn {
  background-color: #e5732cb9;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  left: 84px;
  position: absolute;
  top: 10%;
}

.training-plan-delete-btn {
  background-color: #b50a0a;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  left: 144px;
  position: absolute;
  top: 10%;
}